<h1>Welcome To Eat-Da-Burger</h1>

<h2>Please Enter a Burger to eat.</h2>
<form action="" method="PUT">
    <textarea name="newBurger" id="new-burger" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>